

<!-- 
<ol class="cc-progress vertical90">
  <li class="is-active vertical-90-before" data-step="1">
    <div class="vertical-90">Customer</div>
  </li>
  <li class="vertical-90-before "data-step="2">
    <div class="vertical-90">Trunk</div>
  </li>
  <li class="vertical-90-before" data-step="3">
    <div class="vertical-90">Outbound Port</div>
  </li>
    <li class="is-active vertical-90-before" data-step="3">
    <div class="vertical-90">Ship</div>
  </li>
    <li class="vertical-90-before" data-step="4">
    <div class="vertical-90">Inbound Port</div>
  </li>
    <li class="vertical-90-before" data-step="5" class="progress__last">
    <div class="vertical-90">Delivering</div>
  </li>
</ol> -->



<section>
    <div class="main container container-600 no-pad">
        <div>
            <div class="page-header">
                <h3>Your shipments:</h3>
            </div>
            <div class="list-group">
                <ul>
                     <li><div class="section-title section-title-yellow">Pending (2)</div></li> 
                    <a ng-repeat="customershipment in vm.customershipment | filter:{'shipment_status':'pending'}:true" ng-show="vm.customershipment.length > 0" ui-sref="customershipment.view({ customershipmentId: customershipment._id })" class="list-group-item">
                    <li><div class="title-bref">
                        <i class="view-detail-arrow ion-ios-arrow-right"></i>
                        <ul>
                          <li>Shipment ID:{{customershipment.shipmentId}}</li>
                          <li>status: {{customershipment.shipment_status_detail}}</li>
                          <li>Posted on:<span ng-bind="customershipment.created"></span></li>
                        </ul>
                      </div></li>
                </a>
                </ul>
                <br>
                <ul>
                     <li><div class="section-title section-title-green1">On the way (2)</div></li> 
                    <a ng-repeat="customershipment in vm.customershipment | filter:{'shipment_status':'on_the_way'}:true" ui-sref="customershipment.view({ customershipmentId: customershipment._id })" class="list-group-item">
                    <li><div class="title-bref">
                        <i class="view-detail-arrow ion-ios-arrow-right"></i>
                        <ul>
                          <li>Shipment ID:{{customershipment.shipmentId}}</li>
                          <li>status: {{customershipment.shipment_status_detail}}</li>
                          <li>Posted on:<span ng-bind="customershipment.created"></span></li>
                        </ul>
                      </div></li>
                </a>
                </ul>
                <br>
                <ul>
                     <li><div class="section-title section-title-green2">Delivered (2)</div></li> 
                    <a ng-repeat="customershipment in vm.customershipment | filter:{'shipment_status':'delivered'}:true" ui-sref="customershipment.view({ customershipmentId: customershipment._id })" class="list-group-item">
                    <li><div class="title-bref">
                        <i class="view-detail-arrow ion-ios-arrow-right"></i>
                        <ul>
                          <li>Shipment ID:{{customershipment.shipmentId}}</li>
                          <li>status: {{customershipment.shipment_status_detail}}</li>
                          <li>Posted on:<span ng-bind="customershipment.created"></span></li>
                        </ul>
                      </div></li>
                </a>
                </ul>

            </div>
        </div>
    </div>
</section>







