<section>
  	<div class="page-header">
    	<h3>Shipment: {{vm.customershipment.shipmentId}}</h3>
 	</div>
  	<small>
    	<em class="text-muted">
      	Created at
      	<span ng-bind="vm.customershipment.created"></span>
    	</em>
	</small>
 	<div class="progress-chart">
		<ol class="cc-progress">
		  <li ng-class="{'is-active':vm.customershipment.step>=1}" data-step="1">
		    <div>Customer</div>
		  </li>
		  <li ng-class="{'is-active':vm.customershipment.step>=2}" data-step="2">
		    <div>Trunk</div>
		  </li>
		  <li ng-class="{'is-active':vm.customershipment.step>=3}" data-step="3">
		    <div>Outbound Port</div>
		  </li>
		    <li ng-class="{'is-active':vm.customershipment.step>=4}" data-step="4">
		    <div>Shipping</div>
		  </li>
		    <li ng-class="{'is-active':vm.customershipment.step>=5}" data-step="5">
		    <div>Inbound Port</div>
		  </li>
		    <li ng-class="{'is-active':vm.customershipment.step>=6}" data-step="6" class="progress__last">
		    <div>Delivering</div>
		  </li>
		</ol>
	</div>
	<ul class="main container container-400 no-pad">
	<li><div class="section-title">Details:</div></li> 
		<a ng-repeat="shipmenthistory in vm.customershipment.shipment_history" ui-sref="customershipment.view({ customershipmentId: customershipment._id })" class="list-group-item">
			<li><div class="title-bref">
			
				<ul ng-repeat="historyentry in shipmenthistory">
				{{historyentry}}
					<!-- <li>{{historyentry.description}}</li>
					<li>Posted on:<span ng-bind="historyentry.timestamp"></span></li> -->
				</ul>
			</div></li>
		</a>
	</ul>
</section>
