<section>
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="MEAN.JS" class="img-responsive text-center" src="/modules/core/client/img/brand/logo.png" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        This is a shipment tracking demo app built on Cargochain infrastructure.
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="https://docs.google.com/presentation/d/1vnKBLVdC7w3I5lVpjq3y4k9Za3IxAaVSrdnygyRFynI/edit?usp=sharing" target="_blank">Learn more</a>
      </p>
    </div>
  </div>
  <div>
    <ul>
      
    </ul>
  </div>
 
  <br>Enjoy &amp; Keep Us Updated,
  <br>The Cargochain team
</section>
