// font size
.font-regular{

}
// body
body{
	margin: 0;

}
li{
	list-style: none;
}
ul{
	margin: 0;
	padding: 0;
}
input{
	border: 1px solid;
}

// header
.header{
	text-align: center;
	background-color: #90CAF9;
	.logo{
		padding: 10px 0;
	}
}
nav.main-menu{
	position: fixed;
    bottom: 0;
    padding: 3px 0;
    background-color: #333;
    width: 100%;
    text-align: center;
    z-index: 100;
    .menu-container{
    	
    }
    li{
    	display: inline-block;
    	width: 25%;
    	float: left;
    	height: 42px;
    	@media screen and (min-width:768px){
	    	float: none;
	    	width: 100px;
	    }
    }
    a{
    	font-size: 11px;
    	color: #FAFAFA;
    	i{
    		font-size: 24px;
    		line-height: 24px;
    		display: block;
    	}
    }
    @media screen and (min-width:768px){
    	//position: initial;
    }
}
//function-btns
.function-btns{
	background: white;
	@media screen and (max-width:767px){
	position: fixed;
    bottom: 48px;
    width: 100%;
    left: 0;
    padding: 5px 0;
    }
}
.btn{
	width:100px;
	background: #333;
	background-image: none;
}
// main
.main{
	margin-bottom:70px;
}

// filter
.filter{
	padding: 0 5px 5px 0;
}
//container

.page-header{
	margin:0;
}
.container-600{
	max-width: 600px;
}
.container-400{
	max-width: 400px;
}

// section 
.section-title{
	padding: 0 15px;
	&-yellow{
		background: #FFD740;
	}
	&-green1{
		background: #C8E6C9;
	}
	&-green2{
		background: #4CAF50;
	}
}


//icon
.view-detail-arrow{
	position: absolute;
    /* right: 0; */
    right: 15px;
    display: inline-flex;
    padding-top: 16px;
    font-size: 24px;
}


// device 
.mobile {
	@media screen and (min-width: 992px){    
		&{display: none;}
	}
}
.mobile-xs {
	@media screen and (min-width: 768px){    
		&{display: none;}
	}
}

.pc{
	@media screen and (max-width: 991px){    
		&{display: none;}
	}
}

.pc-xs{
	@media screen and (max-width: 767px){    
		&{display: none;}
	}
}

// align
.margin-b-15-xs{
	@media screen and (max-width: 767px){    
		&{margin-bottom: 15px;}
	}
}
.margin-t-10{
	margin-top: 10px;
}

.no-pad{
	padding: 0;
}
.w100{
	width:100%;
}

// vertical
// .vertical90{
//   -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
//   transform: rotate(90deg);
// }

// .vertical-90{
// 	-webkit-transform: rotate(-90deg); Chrome, Safari, Opera
//   	transform: rotate(-90deg);
// }
// .vertical-90-before::before{
// 	-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
// 	transform: rotate(-90deg);
// }





// progressing bar.progress {

$complete: #2ECC71;
$active: #3498DB;
$mute: #DFE3E4;
.cc-progress {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: darken($mute, 33%);

  > li {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 0.8em;
    
    &:before {
      content: attr(data-step);
      display: block;
      margin: 0 auto;
      background: $mute;
      width: 3em;
      height: 3em;
      text-align: center; //IE8 doesn't inherit this style
      margin-bottom: 0.25em;
      line-height: 3em;
      border-radius: 100%;
      position: relative;
      z-index: 1000;
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      background: $mute;
      width: 100%;
      height: 0.5em;
      top: 1.25em;
      left: 50%;
      margin-left: 1.5em\9;
      z-index: -1;
    }
    &:last-child:after {
      display: none;
    }
    &.is-complete {
      color: $complete;
      
      &:before,
      &:after {
        color: #FFF;
        background: $complete;
      }
    }
    &.is-active {
      color: $active;
      
      &:before {
        color: #FFF;
        background: $active;
      }
    }
  }
}
  /**
   * Needed for IE8
   */
  .cc-progress__last:after {
    display: none!important;
  }

  /**
   * Size Extensions
   */
  .cc-progress--medium {
    font-size: 1.5em;
  }
  .cc-progress--large {
    font-size: 2em;
  }