<section>
  <div class="page-header">
      <h3>New Order</h3>
      <h4>Step 1/3: Fill in infomations:</h4>
  </div>
  <div class="main container container-800 margin-t-10">
    <div class="new-order-step1">
      <div class="content-title">
      </div>
      <div class="content-panel">
        <form id="new-order-infor-1" method="post">
          <div class="form-group row">
            <label for="example-text-input" class="col-sm-2 col-xs-3 col-form-label">CargoName</label>
            <div class="col-sm-4 col-xs-9 margin-b-15-xs">
                <input class="form-control" type="text" value="iPhone 7s" id="example-text-input">
              </div>
            <label for="example-search-input" class="col-sm-2 col-xs-3 col-form-label">CargoType</label>
              <div class="col-sm-4 col-xs-9">
                <input class="form-control" type="search" value="Electronics" id="example-search-input">
              </div>
          </div>

          <div class="form-group row">
            <label for="example-email-input" class="col-sm-2 col-xs-3 col-form-label">Weight</label>
            <div class="col-sm-4 col-xs-9 margin-b-15-xs">
              <input class="form-control" type="email" value="340 lb" id="example-email-input">
            </div>
            <label for="example-url-input" class="col-sm-2 col-xs-3 col-form-label">Size</label>
            <div class="col-sm-4 col-xs-9">
              <input class="form-control" type="url" value="60 x 80 x 100 (inch)" id="example-url-input">
            </div>
          </div>

          <div class="form-group row">
            <label for="example-tel-input" class="col-sm-2 col-xs-3 col-form-label">Telephone</label>
            <div class="col-sm-4 col-xs-9 margin-b-15-xs">
              <input class="form-control" type="tel" value="1-(555)-555-5555" id="example-tel-input">
            </div>
            <label for="example-number-input" class="col-sm-2 col-xs-3 col-form-label">Amount</label>
            <div class="col-sm-4 col-xs-9">
              <input class="form-control" type="number" value="420" id="example-number-input">
            </div>
          </div>

          <div class="form-group row">
            
            <label for="example-datetime-local-input" class="col-sm-2 col-xs-3 col-form-label">Pick Up Date</label>
            <div class="col-sm-4 col-xs-9 margin-b-15-xs">
              <input class="form-control" type="date" value="2016-11-24" id="example-datetime-local-input">
            </div>

            <label for="example-date-input" class="col-sm-2 col-xs-3 col-form-label">Deliver Date</label>
            <div class="col-sm-4 col-xs-9">
              <input class="form-control" type="date" value="2017-01-30" id="example-date-input">
            </div>
          </div>


        </form>
        <div class="row text-center">
          <div class="function-btns text-center">
            <span class="btn-clear">
              <button type="button" class="btn btn-primary">Clear</button>
            </span>
            <span class="btn-next btn-subit">
              <a ui-sref="articles.option()"><button type="button" class="btn btn-primary">Next</button></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

