<section>
  <div class="page-header">
    <h3>Thanks for your time</h3>
  </div>
  <div >
  	<div>Your will receive an confirm notification if your shipment application is confirmed</div>
  </div>
  
        <div class="row text-center">
          <div class="function-btns text-center">
            <span class="btn-back">
            <a ui-sref="articles"><button type="button" class="btn btn-primary">Save</button></a>
            </span>
            <span class="btn-next btn-subit">
              <a ui-sref="articles.list()"><button type="button" class="btn btn-primary">OK</button></a>
            </span>
          </div>
        </div>
</section>
