<section>
  <div class="page-header">
    <h3>Step 3/3: Confirm</h3>
  </div>
 <div class="main container">
    <div class="new-order-step1">
    
      <div class="content-title">
        <h4>Your choice: </h4>
      </div>
      <div class="content-panel">
        <div class="row">
          <div class="md-col-4 col-sm-4 col-xs-12">
            <form id="select-route-form" method="post" accept-charset="utf-8">
              <ul>
                <li><div class="title-bref ">
                  <ul class="pull-left">
                    <li>Estimated Arrival: Oct 12, 2016</li>
                    <li>Price: $1,700</li>
                    <li>Land Carrier: Company A</li>
                    <li>Outbound Port: Port LA-1</li>
                    <li>Onsea Ship: Company B</li>
                    <li>Inbound Port: Port SH-1</li>
                  </ul>
                </div></li>
              </ul>
            </form>
          </div>
          <div class="pc-xs md-col-8 col-sm-8 col-xs-12">
            <div>This can be a map</div>
            <img src="http://images.mentalfloss.com/sites/default/files/styles/insert_main_wide_image/public/mapmapamp.png">
          </div>
        </div>
        <div class="row text-center">
          <div class="function-btns text-center">
            <span class="btn-back">
            <a ui-sref="articles.options()"><button type="button" class="btn btn-primary">Back</button></a>
            </span>
            <span class="btn-next btn-subit">
              <a ui-sref="articles.result()"><button type="button" class="btn btn-primary">Confirm</button></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
