<section>
  <div class="page-header">
    <h3>Step 2/3: Choose a Route:</h3>
  </div>
  <div class="main container">
    <div class="new-order-step1">
    
      <div class="content-title">
        <h4>Filters:</h4>
      </div>
      <div class="content-panel">
        <div class="routes-filter col-md-12 row">
          <div class="filter  col-md-2 col-sm-2 col-xs-4 ">
            <select class="form-control">
              <option>Price</option>
              <option>Price: low to high</option>
              <option>Price: hight to low</option>
            </select>
          </div>
          <div class="filter  col-md-2 col-sm-2 col-xs-4 ">
            <select class="form-control">
              <option>Land</option>
              <option>USPS</option>
              <option>FedEx</option>
            </select>
          </div>
          <div class="filter  col-md-2 col-sm-2 col-xs-4 ">
            <select class="form-control">
              <option>OutPort</option>
              <option>Los Angles</option>
              <option>Seattle</option>
            </select>
          </div>
          <div class="filter  col-md-2 col-sm-2 col-xs-4 ">
            <select class="form-control">
              <option>Shipp</option>
              <option>Shipping Company 1</option>
              <option>Shipping Company 2</option>
            </select>
          </div>
          <div class="filter  col-md-2 col-sm-2 col-xs-4 ">
            <select class="form-control">
              <option>InPort</option>
              <option>Shanghai</option>
              <option>Hongkong</option>
            </select>
          </div>
          <div class="filter  col-md-2 col-sm-2 col-xs-4 ">
            <select class="form-control">
              <option>Land</option>
              <option>Shunfeng</option>
              <option>Yuantong</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="md-col-4 col-sm-4 col-xs-12">
            <form id="select-route-form" method="post" accept-charset="utf-8">
              <ul>
                <li><div class="title-bref list-group-item">
                <label class="w100">
                  <input class="pull-right" type="radio" name="route">
                  <ul class="pull-left">
                    <li>Estimated Arrival: Oct 12, 2016</li>
                    <li>Price: $1,700</li>
                    <li>Land Carrier: Company A</li>
                    <li>Outbound Port: Port LA-1</li>
                    <li>Onsea Ship: Company B</li>
                    <li>Inbound Port: Port SH-1</li>
                  </ul>
                  </label>
                </div></li>
                <li><div class="title-bref list-group-item">
                <label class="w100">
                  <input class="pull-right" type="radio" name="route">
                  <ul class="pull-left">
                    <li>Estimated Arrival: Oct 12, 2016</li>
                    <li>Price: $1,900</li>
                    <li>Land Carrier: Company A</li>
                    <li>Outbound Port: Port LA-1</li>
                    <li>Onsea Ship: Company B</li>
                    <li>Inbound Port: Port SH-1</li>
                  </ul>
                  </label>
                </div></li>
                <li><div class="title-bref list-group-item">
                <label class="w100">
                  <input class="pull-right" type="radio" name="route">
                  <ul class="pull-left">
                    <li>Estimated Arrival: Oct 12, 2016</li>
                    <li>Price: $2,100</li>
                    <li>Land Carrier: Company A</li>
                    <li>Outbound Port: Port LA-1</li>
                    <li>Onsea Ship: Company B</li>
                    <li>Inbound Port: Port SH-1</li>
                  </ul>
                  </label>
                </div></li>
                <li><div class="title-bref list-group-item">
                <label class="w100">
                  <input class="pull-right" type="radio" name="route">
                  <ul class="pull-left">
                    <li>Estimated Arrival: Oct 12, 2016</li>
                    <li>Price: $1,800</li>
                    <li>Land Carrier: Company A</li>
                    <li>Outbound Port: Port LA-1</li>
                    <li>Onsea Ship: Company B</li>
                    <li>Inbound Port: Port SH-1</li>
                  </ul>
                  </label>
                </div></li>
                <li><div class="title-bref list-group-item">
                <label class="w100">
                  <input class="pull-right" type="radio" name="route">
                  <ul class="pull-left">
                    <li>Estimated Arrival: Oct 12, 2016</li>
                    <li>Price: $1,850</li>
                    <li>Land Carrier: Company A</li>
                    <li>Outbound Port: Port LA-1</li>
                    <li>Onsea Ship: Company B</li>
                    <li>Inbound Port: Port SH-1</li>
                  </ul>
                  </label>
                </div></li>
              </ul>
            </form>
          </div>
          <div class="pc-xs md-col-8 col-sm-8 col-xs-12">
            <div>This can be a map</div>
            <img src="http://images.mentalfloss.com/sites/default/files/styles/insert_main_wide_image/public/mapmapamp.png">
          </div>
        </div>
        <div class="row text-center">
          <div class="function-btns text-center">
            <span class="btn-back">
            <a ui-sref="articles"><button type="button" class="btn btn-primary">Back</button></a>
            </span>
            <span class="btn-next btn-subit">
              <a ui-sref="articles.confirm()"><button type="button" class="btn btn-primary">Next</button></a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
